.common {
    /* border: 2px solid white; */
    position: absolute;
}
.nav {
    position: relative;
    float: right;
    font-size: 75%;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font size: 50%;
    font-style: italic;
    text-align: center;
    background-color: lightgrey;
}
.header{
    /* border: 2px solid white; */
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: -1;
}
/* .content{
    top: 33px;
    left: 10%;
    right: 10%;
    bottom: 30px;
    background-color: rgba(89, 89, 135, 0.5);
} */
.left-center-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    flex-wrap: wrap; /* helps on smaller screens */
  }
  
  .left-text, .right-text {
    width: 30%;
  }
  
  .center-image {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  
  .center-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .video-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 40px;
    flex-wrap: wrap;
  }
  
  .video-column {
    flex: 1;
    min-width: 300px;
    text-align: center;
  }
  a{
    color:grey;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgrey;
    color: rgb(21, 18, 18);
}
h1, h2{
  text-align: center;
}
h3, h4{
  color: darkred;
}